div#header
	if !log
		a(href="/") Home
		| 
		a(href="/users") Users
		| 
		a(href="/register") Register
		|
		form(action="/login" method="POST")
			| Username: 
			input(type="text" name="username" required="")
			br
			| Password: 
			input(type="password" name="password" required="")
			br
			button(type="submit") Login
	else
		a(href="/") Home
		| 
		a(href="/users") Users
		| 
		a(href='/orderform') Order Food 
		| Welcome, #{name} 
		a(href="/users/" + id) click here to see your profile
		| 
		a(href="/logout") Logout