html
    head
        title Order Form
        style
            include ./styles.css
    body(onload="init()")
        include ../partials/header
        select#restaurant-select
        br
        br
        #info
        #main
            #left.column.left
            #middle.column.middle
            #right.column.right
    script(src="orderform.js")